.container-basic{
   padding: 1em 1em;
   // font-size: 18px;
   text-transform: capitalize;
   .label{
      font-weight: bold;
   }
}
.container-about{
   padding: 1em;
}
.information-about{
   margin-bottom: 2em!important
}

#about{
   margin-top: 5rem;
}