html {
   scroll-behavior: smooth;
 }
body{
   font-family: verdana;
}
h2{
   text-transform: capitalize;
}

.section{
   // margin-top: 5em;
   padding: 2em 2em;
  //  box-shadow: 2px 2px 9px 5px #dddddd;
   border-radius: 6px;
}

// #project.c{
//    background-color: rgb(255, 255, 255);
// }