.footer{
	// position: absolute;
	width: 100%;
	bottom: 0;
	height: 140px;
	background-color:rgb(255, 255, 255);
	color: #000;
   padding: 20px;
	box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.1);
	font-family: Arial, Helvetica, sans-serif;
	p{
		padding: 0 3em;

	}
	.social{
		font-size: 2em;
		color: #000;
		margin-left: 14px;
	}
	.social:hover{
		text-decoration: none;
		transform: scale(1.5);
	}
}
