.jumbotron{
   background-image:url( "/me-danuandrean.github.io/image/bg.jpg");
   background-size: cover;
    background-position: center;
    height: 350px;
    color:white;
    opacity: 0.8;
}

.jumbotron img{
	width: 200px;
	border-radius: 50%;
    border:1px solid #666;
   
}
@media(max-width:500px){
    .jumbotron img{
        margin-top: 2em;
    }

}