.jumbotron{
   background-image:url( "/me-danuandrean.github.io/image/bg.jpg");
   background-size: cover;
    background-position: center;
    height: 330px;
    color:white;
    opacity: 0.8;

}

.jumbotron img{
	width: 200px;
	border-radius: 50%;
    margin-top: 0.5em;
    border:1px solid #666;
}