
.collapsing{
   width: 0!important;
}
.navbar-dark .navbar-nav .nav-link {
   color: 
   rgb(255, 255, 255);
}

@media(max-width:990px){
  .navbar-collapse {
         // position: fixed;
         background-image: linear-gradient(rgb(76, 148, 80), rgb(0, 12, 5));
         display: block;
         top: 0;
         height: 100% !important;
         width: 300px!important;
         z-index: 1032;
         // visibility: visible;
         border-top: none;
         text-align: left;
         max-height: none !important; 
         padding: 60px 30px;
         right: -301px;
         position: fixed;
         bottom: 0;
         overflow-y: auto;
   }
   .active .navbar-collapse{
      right: 0;
      transition: 0.6s;
      
   }
   .active .navbar{
      right: 300px !important;
      left:-300px !important;
      transition: 0.9s;
   }
 

}